In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
data=pd.read_csv("Iris.csv")
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
data.drop(['Id','SepalLengthCm','SepalWidthCm'],axis=1,inplace=True)

In [16]:
data['Species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [10]:
def my_gdf(x,mean,sd):
    exponent=np.exp(-((x-mean)**2/(2*sd**2)))
    return(1/(np.sqrt(2*np.pi)*sd))*exponent

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()
X=sc.fit_transform(data.iloc[:,:-1])

In [59]:
X_scaled=pd.DataFrame(X)
X_scaled.columns=['X1_scaled','X2_scaled']
X_scaled.tail()

     X1_scaled  X2_scaled
145   0.819624   1.447956
146   0.705893   0.922064
147   0.819624   1.053537
148   0.933356   1.447956
149   0.762759   0.790591

In [35]:
X_scaled['Lables']=data['Species']
data_seto=X_scaled[X_scaled['Lables']=="Iris-setosa"]
data_vercol=X_scaled[X_scaled['Lables']=="Iris-versicolor"]
data_verg=X_scaled[X_scaled['Lables']=="Iris-virginica"]

In [36]:
X_scaled['Lables'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Lables, dtype: int64

In [37]:
data_seto.shape,data_vercol.shape,data_verg.shape

((50, 3), (50, 3), (50, 3))

In [38]:
data_seto[['X1_scaled','X2_scaled']].mean()

X1_scaled   -1.304878
X2_scaled   -1.255129
dtype: float64

In [39]:
data_seto[['X1_scaled','X2_scaled']].std()

X1_scaled    0.098668
X2_scaled    0.140952
dtype: float64

In [40]:
data_vercol[['X1_scaled','X2_scaled']].mean()

X1_scaled    0.285087
X2_scaled    0.167409
dtype: float64

In [41]:
data_vercol[['X1_scaled','X2_scaled']].std()

X1_scaled    0.267218
X2_scaled    0.259991
dtype: float64

In [42]:
data_verg[['X1_scaled','X2_scaled']].mean()

X1_scaled    1.019792
X2_scaled    1.087720
dtype: float64

In [43]:
data_verg[['X1_scaled','X2_scaled']].std()

X1_scaled    0.313839
X2_scaled    0.361091
dtype: float64

In [62]:
#testing vericolor sample
test1=[-1.284407,-1.181504]
test2=[0.478430,0.396172]
test3=[0.762759,0.790591]

## Finding the Classifier

#### its Iris-virginica

In [65]:
p_seto=my_gdf(test3[0], -1.304878,0.098668)*my_gdf(test3[1], -1.255129,0.140952)*(1/3)
p_verci=my_gdf(test3[0], 0.285087,0.267218)*my_gdf(test3[1], 0.167409,0.259991)*(1/3)
p_vergi=my_gdf(test3[0], 1.019792,0.313839)*my_gdf(test3[1], 1.087720,0.361091)*(1/3)
print((p_seto,p_verci,p_vergi))
print(np.argmax([p_seto,p_verci,p_vergi]))

(3.048691093735649e-141, 0.0087381707087388, 0.2386112760328555)
2

#### its Iris-setosa

In [66]:
p_seto=my_gdf(test1[0], -1.304878,0.098668)*my_gdf(test1[1], -1.255129,0.140952)*(1/3)
p_verci=my_gdf(test1[0], 0.285087,0.267218)*my_gdf(test1[1], 0.167409,0.259991)*(1/3)
p_vergi=my_gdf(test1[0], 1.019792,0.313839)*my_gdf(test1[1], 1.087720,0.361091)*(1/3)
print((p_seto,p_verci,p_vergi))
print(np.argmax([p_seto,p_verci,p_vergi]))

(3.257299416698414, 3.520057711751683e-14, 2.450813490368094e-21)
0

#### its Iris-versicolor

In [67]:
p_seto=my_gdf(test2[0], -1.304878,0.098668)*my_gdf(test2[1], -1.255129,0.140952)*(1/3)
p_verci=my_gdf(test2[0], 0.285087,0.267218)*my_gdf(test2[1], 0.167409,0.259991)*(1/3)
p_vergi=my_gdf(test2[0], 1.019792,0.313839)*my_gdf(test2[1], 1.087720,0.361091)*(1/3)
print((p_seto,p_verci,p_vergi))
print(np.argmax([p_seto,p_verci,p_vergi]))

(6.984979713853608e-101, 0.39909831063442486, 0.016896159217376635)
1

In [68]:
np.argmax([0.12,0.36,0.001])

1

### prob of normal not hypothesis p_value